<div class="admin-wrapper">
  <div>
    <h1 class="admin__title">Welcome {{ user?.username }}!</h1>
    <div class="admin__nav-buttons">
      <button
        mat-stroked-button
        color="primary"
        routerLink="category"
        type="button"
      >
        Add category
      </button>
      <button
        mat-stroked-button
        color="primary"
        routerLink="news"
        type="button"
      >
        Add news
      </button>
      <button
        mat-stroked-button
        color="primary"
        routerLink="reports"
        type="button"
      >
        View reports
      </button>
    </div>
  </div>
  <div class="admin__content">
    <router-outlet />
  </div>
</div>
